.road{
    background-color: #333;
    position-anchor: --traffic-light;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    &.active-road {
        z-index: 1;
    }
    &.horizontal {
        height: 3rem;
        width: 100%;
        align-items: center;
        bottom: anchor(bottom);
        justify-self: anchor-center;
        padding-left: calc(100% / 2 + 1.5rem);
    }

    &.vertical {
        height: 100%;
        width: 3rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        left: anchor(left);
        align-self: anchor-center;
        padding-bottom: calc(100% / 2 + 1.5rem);
        car main {
            transform: rotate(-90deg);
        }
    }
}