main{
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    background-color: #333;
    border: 1.25rem solid transparent;
    border-right-color: green;
    border-top-color: red;
    anchor-name: --traffic-light;
    z-index: 2;
}