main{
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    background-color: #333;
    border: 1.25rem solid transparent;

    anchor-name: --traffic-light;
}

.ramzor {
    position: absolute;
    border: 1.25rem solid transparent;
    bottom: anchor(--traffic-light top);
    left: anchor(--traffic-light right);
    border-right-color: var(--horizontal-color);
    border-top-color: var(--vertical-color);
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    
}